{{#extends 'base'}}

{{#block 'content'}}
<div class="container col-6 mt-4">
    <h1 class="text-center">Welcome!</h1>
    <p class="text-center">Click <a href="/users/login">here </a>to log in to your account.</p>
</div>
{{/block}}
{{/extends}}