{{#extends 'base'}}

{{#block 'content'}}
<div class="container col-6 mt-4">
    <h1 class="text-center">Welcome!</h1>
    <p class="text-center">Register a new user <a href="/users/register">here.</a></p>
</div>
{{/block}}
{{/extends}}