{{#extends 'base'}}

{{#block 'content'}}

<div class="row m-0">
    <div class="row m-0 px-4 pt-4">
         <div class="pb-3 mb-3 border-bottom">
            <h4 class="display-6">Add Essential Oil</h4>
        </div>
        <form method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
            {{{form}}}
            <div class="d-grid gap-2 d-md-block my-4">
                <input type="submit" value="Add Essential Oil" class="btn btn-primary"/>
                <a class="btn btn-outline-primary" href="/aromaadmin/products/essential-oils" role="button">Cancel</a>
            </div>
        </form>
    </div>
</div>
{{/block}}

{{/extends}}