{{#extends 'base'}}

{{#block 'content'}}

<div class="row m-0">
    <div class="row m-0 px-4 pt-4">
        <div class="pb-3 mb-3 border-bottom">
            <h4 class="display-6">Update Essential Oil</h4>
            <p class="lead">{{essentialoil.name}} (ID: #{{essentialoil.id}})</p>
        </div>

        <form method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
            {{{form}}}
            <input type="submit" value="Update Product" class="btn btn-primary mt-3"/>
        </form>
    </div>
</div>
{{/block}}

{{/extends}}