{{#extends 'base'}}

{{#block 'content'}}
<div class="container col-6 mt-4">
    <h1 class="text-center">My Profile</h1>
    <h4 class="text-center">{{user.name}}</h4>
    <p class="text-center">{{user.email}}</p>
    <p class="text-center">Click <a href="/aromaadmin/users/register">here </a>to register a new user.</p>
</div>

{{/block}}

{{/extends}}